.login-content {
  .ant-form {
    .ant-form-item {
      label {
        font-weight: bold;
      }

      .ant-calendar-picker {
        width: 100%;
      }

      .ant-input {
        outline: 0;
        border-radius: 0;
        border-width: 0 0 1px;
        border-right-width: 0 !important;
        box-shadow: none;
        text-align: center;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
  }

  img {
    max-width: 175px;
  }

  h4 {
    &.ant-typography {
      margin-bottom: 8px;
    }
  }

  .location {
    text-align: center;
    font-size: @font-size-base - 1;
    color: @text-color;

    .label {
      font-family: AvenirNext-Demi;
      font-size: @font-size-base - 2;
    }

    .value {
      font-family: AvenirNext-Regular;
      font-size: @font-size-base - 4;
      color: color(~`colorPalette("@{text-color}", 2) `);
    }
  }
}
