@import "./font.less";
@import "./login.less";
@import "../../../node_modules/antd/dist/antd.less";
@import "../../../node_modules/react-lazy-load-image-component/src/effects/blur.css";

/*
  StyleSheet Documentation
  1. Declaring Variable
    1.1   Base Scaffolding Variables
    1.2   Colors
    1.3   Border Color
    1.4   Form
    1.5   Input
    1.6   Select
    1.7   Checkbox
    1.8   Radio
    1.9   Buttons
    1.10  PageHeader
    1.11  Collapse
    1.12  Card
    1.13  Layout
    1.14  Global
  2. Components
    2.1   Home
    2.2   Ads
    2.2.1 Website
  3. Antd
    3.1   Layout
    3.2   Input
    3.3   Button
    3.4   Checkbox
    3.5   Select
    3.6   Card
    3.7   Collapse
  4. UI
    4.1   Card
    4.1.1 Card Choose
  5. Responsive
    5.1   Home
    5.2   Ads
*/

// 1. Declaring Variable
// 1.1 Base Scaffolding Variables
@heading-color: #262626;
@font-size-base: 16px;
@text-color: @heading-color;
@border-radius-base: 4px;
@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Lato,
  "Helvetica Neue", Arial, Gotham-Ultra, Gotham-Bold, Gotham-Medium, Gotham-Book,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

// 1.2 Colors
@white: #ffffff;
@black: #000000;
@grey: #b4b3b3;
@grey-dark: #5f5f5f;
@primary-color: #f5b54d;

// 1.3 Border color
@border-color-base: @primary-color;

// 1.4 Form
@form-item-margin-bottom: 12px;
@form-vertical-label-padding: 0 0 4px;

// 1.5 Input
@input-height-base: 50px;
@input-color: @primary-color;
@input-hover-border-color: #e2961b;
@box-shadow-color: #ffe0e1;
@input-placeholder-color: color(~`colorPalette("@{primary-color}", 4) `);
@input-border-color: color(~`colorPalette("@{primary-color}", 4) `);

// 1.6 Select
@select-item-selected-bg: @grey;
@select-item-active-bg: @grey;
@select-item-hover-bg: color(~`colorPalette("@{grey}", 4) `);
@select-border-color: color(~`colorPalette("@{primary-color}", 4) `);

// 1.7 Checkbox
@checkbox-size: @font-size-base + 4;

// 1.8 Radio
@radio-size: @font-size-base + 4;

// 1.9 Buttons
@btn-disable-color: @white;
@btn-disable-bg: color(~`colorPalette("@{primary-color}", 4) `);
@btn-disable-border: color(~`colorPalette("@{primary-color}", 4) `);
@btn-height-base: @input-height-base;

// 1.10 PageHeader
@page-header-padding: 0;
@page-header-padding-vertical: 10px;

// 1.11 Collapse
@collapse-header-padding: 12px 0;
@collapse-header-padding-extra: 0;
@collapse-header-bg: @white;
@collapse-content-bg: @white;

// 1.12 Card
@card-border-radius: 40px;
@card-border-color: #b4b3b3;

// 1.13 Layout
@layout-base: 480px;
@layout-header-background: #f3f3f3;
@layout-body-background: @layout-header-background;
@layout-header-height: 56px;
@layout-content: 0 18px;
@layout-header-padding: 0;
@layout-footer-padding: 0;

// 1.14 Global
html,
body {
  background-color: @layout-body-background;
  --primary-color: @primary-color;
  --input-color: @input-color;
  --input-hover-border-color: @input-hover-border-color;
  --box-shadow-color: @box-shadow-color;
  --cart-box-color: @box-shadow-color;
  font-family: "Gotham-Book";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--primary-color);
}
::-webkit-scrollbar {
  display: none;
}
.text-important {
  color: var(--primary-color);
}
.center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
  display: block;
}

.desc {
  color: @grey-dark;
}
.width-cover {
  width: 80%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.action {
  cursor: pointer;
}

// 2. Components
// 2.1 Home

.home-content.ant-layout {
  background-image: url(../img/landing-page.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .ant-layout-content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: inherit;
  }
}

// 2.2 Ads
// 2.2.1 Website
.ads-content {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }
}

// 3. Antd
// 3.1  Layout
.ant-layout {
  min-height: 100vh;
  background-color: @white;
  h4.ant-typography {
    margin-bottom: 0.1em;
  }
  h3.ant-typography {
    margin-bottom: 0em;
  }
  .ant-layout-content {
    max-width: 1280px;
    padding: @layout-content;
    margin: @layout-header-height auto 0;
    background-color: @white;
    display: flex;
    padding-top: 10px;
    &.no-padding {
      padding: 0;
    }
  }

  // 3.2  Input
  .ant-input {
    color: @black;
    border: 1px solid var(--input-color);
    &:focus {
      border-color: var(--input-hover-border-color);
      box-shadow: none;
    }
    &:hover {
      border-color: var(--input-color);
    }
    &::placeholder {
      color: @grey;
    }
  }

  .ant-input-affix-wrapper {
    border-color: @grey;
  }
  .ant-input-search-button {
    border-color: @grey;
  }
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    box-shadow: none;
  }

  // 3.3  Button
  .ant-btn-lg {
    height: 60px;
    padding: 10px 40px;
    font-family: "Gotham-Medium";
  }
  .ant-btn-primary {
    color: @black;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      background-color: var(--input-hover-border-color);
      border-color: var(--input-hover-border-color);
      color: @black;
    }
    &:focus {
      background-color: var(--input-hover-border-color);
      border-color: var(--input-hover-border-color);
    }
    &[disabled] {
      background-color: var(--input-hover-border-color);
      border-color: var(--input-hover-border-color);
      opacity: 0.5;
      &:hover {
        background-color: var(--input-hover-border-color);
        border-color: var(--input-hover-border-color);
      }
    }
  }
  .ant-btn-link {
    color: var(--primary-color);
    &:hover {
      color: var(--input-hover-border-color);
    }
  }

  // 3.4  Checkbox
  .ant-checkbox-checked {
    &::after {
      border: 1px solid var(--primary-color);
    }
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: var(--primary-color);
  }

  .ant-checkbox-inner {
    border: 1px solid var(--primary-color);
  }

  // 3.5  Select
  .ant-select-selection {
    border: 1px solid var(--input-hover-border-color);
    &:hover {
      border-color: var(--primary-color);
    }
  }

  .ant-select-open.ant-select-focused {
    color: var(--primary-color);
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    border-color: var(--primary-color);
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    box-shadow: 0 0 0 2px var(--box-shadow-color) !important;
  }
  .ant-select-arrow {
    color: var(--input-hover-border-color);
  }
  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder {
    color: var(--input-hover-border-color);
  }
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: var(--box-shadow-color) !important;
  }
  .ant-select-dropdown
    .ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active {
    background-color: var(--box-shadow-color) !important;
  }

  // 3.6  Card
  .ant-card-bordered {
    border-color: @card-border-color;
    border-radius: @card-border-radius;
    border-width: 2px;
    cursor: pointer;
    &:hover {
      border-color: @primary-color;
    }
  }

  // 3.7 Collapse
  .ant-collapse-header {
    .ant-collapse-arrow {
      position: unset !important;
    }
  }

  // 4. UI
  // 4.1  Card
  // 4.1.1  Card-Choose
  .ant-card {
    &.active-item {
      border-color: @primary-color;
    }
  }
}

// 5. Responsive
// 5.1  Global

@media only screen and (max-width: 480px) {
  .ant-layout {
    h2.ant-typography,
    .ant-typography h2 {
      font-size: @font-size-base + 10;
    }
    .m-t-xl {
      margin-top: 2rem;
    }
    .m-b-lg {
      margin-bottom: 1rem;
    }

    // 5.1  Home

    // 5.2 Ads
    .card-ads {
      margin-top: 2rem !important;
    }
  }
}
